#si-content{
	margin: 120px 0 160px 80px;
	overflow:hidden;
}
#si-box{
	border:1px solid silver;
	padding:35px;
	float:left;
	width:422px;
}
.si-field label{
	display:block;
	font-size:14px;
	font-weight:bold;
}
.si-field label a{
	font-size:12px;
	font-weight:normal;
}
.si-field input{
	width: 350px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	height: 36px;
	padding: 6px 10px;
	margin-bottom: 5px;
	font-size: 14px;
	line-height: 20px;
	color: #858585;
	border-radius: 4px;
	vertical-align: middle;
}
#si_sub {
	background-color: #84d6d2;
	color: #fff;
	border-radius: 4px;
	border: 0;
	font-size: 24px;
	font-weight: bold;
	width: 100%;
	margin:20px 0;
}
#si-su{
	font-size:12px;
	font-weight:bold;
	margin-top:15px;
	padding-top:15px;
	border-top:1px solid silver;
	text-align:center;
}
#si-fea{
	float:left;
	overflow:hidden;
	padding:20px 0 0 60px;
}
#si-fea p{
	color:gray;
	font-size: 18px;
	line-height: 19px;
	font-weight: bold;
	padding-left: 40px;
	margin-bottom: 15px;
	background: url(/static/img/checked.png) left center no-repeat;
}
h3 {
	padding: 30px 0 5px 50px;
	font-weight: bold;
	color: #54DDCD;
	border-bottom: 1px solid #54DDCD;
	margin:0;
}
.page-box {
	background: #fff;
}
#r-column {
	width:20%;
	float:left;
	padding: 20px 0 130px 0;
	background-color: #EFFBFB;
	text-align:center;
}
#r-column h5 {
	font-size: 16px;
	font-weight: bold;
	padding:5px 0;
	margin-bottom:40px;
	margin-top:0;
}
#r-column h5 a {
	color: #000;
}
#a-active{
	color:#fff;
	background-color: #55DCCE;
}
#r-column #a-box {
	margin-top: 40px;
	padding:10px;
}
#a-type{
	padding: 5px 0;
	font-size: 20px;
	border: 1px solid #54DDCD;
	border-bottom: 0;
}
#a-rest{
	padding: 20px 0;
	font-size: 16px;
	border: 1px solid #54DDCD;
}
#l-column {
	width:80%;
	float:left;
	padding: 47px 25px;
}
.form-inner{
	padding: 0;
	margin: 0;
	margin-left: 0px!important;
	list-style: none;
	overflow:hidden;
}
.form-inner .form-fields{
	width: 48%;
	margin-right: 2%;
	float: left;
	margin-bottom: 10px;
}
.form-inner li input, .form-inner li select{
	width: 60%;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	height: 36px;
	padding: 6px 10px;
	margin-bottom: 5px;
	font-size: 14px;
	line-height: 20px;
	color: #858585;
	border-radius: 4px;
	vertical-align: middle;
}
.form-inner li font {
	position: relative;
	width:40%;
	font-size: 14px;
	font-weight: bold;
	color: #858585;
	padding: 12px 0;
	vertical-align: middle;
	float: left;
	line-height: 16px;
}
.optional-area{
	position:absolute;
	font-size:12px;
	font-style:italic;
	left:0;
	top:30px;
	font-weight: normal;
	line-height: 12px;
}
.errorlist{
	color:red;
	list-style: none;
	font-size:12px;
	padding:0;
}
.a-op{
	margin-top:30px;
}
.a-op li input, .a-op li select{
	color:#000;
}
#s2-sm{
	margin-top:30px;
	background-color:#55DCCD;
	color:#fff;
	border-radius: 4px;
	border:0;
	font-size:26px;
	font-weight:bold;
	width:100%;
}
.make-line{
	clear:both;
	width:100%;
}
#id_privacy{
	display:none;
}
#l-column table{
	width:100%;
	
}
#l-column table th{
	text-align:center;
	border:1px solid silver;
	padding:5px 0;
	font-weight:bold;
	background-color:#DEF8F5;
}
#l-column table td{
	text-align:center;
	border:1px solid silver;
	padding:5px 0;
}
#l-column table td a{
	cursor:pointer;
}
#l-column table td a:hover{
	text-decoration:none;
}
.tooltip-inner {
	color: #000;
	background-color: #84D6D2;
}
.tooltip.top .tooltip-arrow {
	border-top-color: #84D6D2;	
}
#si-qr img{
	width:150px;
}
#top-column{
	padding: 35px;
	text-align: center;
}
.choose-box{
	font-weight: bold;
	padding:5px;
	background-color: #fff;
	opacity: 1;
	margin:auto;
	border-radius:2px;
	display: inline-block;
}
.choose-box input{
	padding:6px;
}
.choose-box select{
	padding:8px;
	margin-right:10px;
	padding-top:8px\9;
	padding-right:6px\9;
	padding-bottom:4px\9;
	padding-left:6px\9;
}
.choose-box button{
	padding:7px 40px;
	padding-bottom:3px\9;
	font-weight:bold;
	background-color:#84d6d2;
	border:1px solid #84d6d2;
	line-height: 20px;
}
.input-group {
	position: relative;
	display: inline-table;
	border-collapse: separate;
	cursor:pointer;
}
.date-box{
	cursor:pointer;
	width:240px;
}
.time-box{
	cursor:pointer;
	width:140px;
}
.input-group-addon {
	top: 1px;
	right: 16px;
	position: absolute;
	padding: 10px 12px;
	border: 0;
	background-color: #FFF;
	display: inline-table;
	z-index: 99;
}