/*! project specific CSS goes here. */
header{
	background: #fff;
	border-bottom: 5px solid #84d6d2;
	position: fixed;
	top:0;
	left:0;
	right:0;
	z-index:1000;
}
header a{
	color:#000;
}
#logo-box{
	float:left;
}
#logo-box a{
	float:left;
	padding: 10px 15px;
	font-size: 18px;
	line-height: 20px;
}
header .navbar-text{
	margin-top:30px;
	margin-bottom:30px;
}
header .navbar-text a{
	font-size:18px;
}
header .navbar-btn{
	margin-top:30px;
	margin-bottom:30px;
}
header .navbar-btn a{
	padding:10px 10px;
	background-color: #84d6d2;
	border-radius:4px;
	font-size:18px;
}
header .navbar-btn a:hover{
	text-decoration:none;
	background-color:#78D3CF;
	color:#000;
}
header .navbar-text font{
	color:#DA86AA;
	font-weight:bold;
	font-size:18px;
}
header .navbar-text #sign_btn{
	padding:10px 10px;
	background-color: #84d6d2;
	border-radius:4px;
	font-size:18px;
}
header .navbar-text #sign_btn:hover{
	text-decoration:none;
	background-color:#78D3CF;
	color:#000;
}
header ul.navbar-right li.dropdown {
	margin: 20px auto;
	font-size:16px;
	font-weight:bold;
}
#wechat-qr{
	margin:10px 30px 10px 0;
}
#wechat-qr img{
	width: 70px;
	height: 70px;
}
#social{
	margin:30px auto;
}
#social img{
	float:left;
	margin-right:5px;
	width: 22px;
	height: 22px;
}
.footer-line{
	margin-top:100px;
	background-color:#666;
}
.footer-line img{
	float: left;
}
.f-center{
	text-align:center;
}
#f-ul{
	float: right;
	list-style: none;
	margin:0 auto;
	padding:0;
}
#f-ul li{
	color:#eee;
	float:right;
	padding:0 20px;
	margin-top:60px;
	text-align:center;
	border-right: 1px solid #eee;
}
#f-ul li a{
	color:#eee;
}
#f-ul li a:hover{
	color:#52CCB7;
}
#contact-us{
	font-weight:bold;
	text-decoration: none;
	margin-right: 35px;
}
.lm{
	cursor:pointer;
}
.bpop{
	background-color: #FFF;
	border-radius: 10px 10px 10px 10px;
	color: #111;
	display: none;
	padding: 12px;
}
.b-close {
	border-radius: 7px 7px 7px 7px;
	font: bold 131% sans-serif;
	padding: 0 6px 2px;
	position: absolute;
	right: -7px;
	top: -7px;
	background-color: #DA86AA;
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	text-decoration: none;
}
.b-content{
	width: 620px;
	height:650px;
	overflow:scroll;
}
.b-content .space-border{
	padding:15px 0;
	border-bottom:1px solid silver;
}
.b-content .big-font{
	font-weight:bold;
	font-size:16px;
}
.b-content table tr td img{
	
}
.b-content table{
	width:100%;
	border:0;
}
.b-content table tr td{
	width:50%;
	border:0;
}
#tooltip86303{
	top: 53px;
	left: -37.5px;
	display: none;
	font-size:14px;
}
#tooltip86302{
	top: 22px;
	left: -93.5px;
	display: none;
}
#tooltip86302 .tool-qr{
	max-width: 208px;
	padding: 3px 4px;
	overflow: hidden;
}
.page-box{
	margin-top:90px;
	background: #effbfb;
}
.tooltip-inner {
	color: #000;
	background-color: #84D6D2;
}
.tooltip.bottom .tooltip-arrow {
	border-bottom-color: #84D6D2;	
}