a:hover{
	text-decoration: none;
}
.col-md-2{
	position:relative;
	text-align: center;
}
.service_border{
	position: absolute;
	display: block;
	top: 30px;
	left: 120px;
	height: 4px;
	width: 100px;
}
.bdr-blue{
	background: #84d6d2;
}
.bdr-default {
	background: #dce3e5;
}
.service_icon{
	width: 60px;
	padding:0;
	border-radius: 100%;
	display: inline-block;
	font-size: 40px;
}
#custom-step {
	padding-top:30px;
	padding-bottom:30px;
}
#custom-step .col-md-2{
	width:170px;
	float:left;
}
#custom-step .active{
	background: #84d6d2;
	color: #ffffff;
}
#custom-step .default {
	background: #dce3e5;
	color: #ffffff;
}
.service_content h3{
	text-transform: uppercase;
	font-size: 14px;
	line-height: 16px;
	color: #84d6d2 !important;
	margin-top: 10px;
	text-align: center;
}
.text-default h3{
	color: #dce3e5 !important;
}
.top-line h3{
	background: url("/static/img/top-border.png") no-repeat scroll left bottom rgba(0, 0, 0, 0);
	color: #5D5C5D;
	font-size: 16px;
	margin-top:5px;
	margin-bottom: 15px;
	padding-bottom: 0px;
	font-weight: bold;
	line-height: 30px;
	float:left;
}
.step4-line{
	color: gray;
}
.step4-line h3{
	background: url("/static/img/top-border.png") no-repeat scroll left bottom rgba(0, 0, 0, 0);
	color: #5D5C5D;
	font-size: 16px;
	margin-top:30px;
	margin-bottom: 15px;
	padding-bottom: 0px;
	font-weight: bold;
	line-height: 30px;
}
.step4-line #divide{
	border-top:1px solid silver;
	margin:40px 0;
}
.top-line a{
	background-color:#eb6876;
	color:#fff;
	padding:3px 15px;
	font-size:12px;
	margin-top:8px;
	margin-right:2%;
	float:right;
	border-radius:4px;
}
#pay_method{
	padding:0 0 50px 50px;
	overflow:hidden;
}
.opt-box{
	width:32%;
	float:left;
}
.opt-box input, .opt-box label{
	cursor:pointer;
}
.opt-box table{
	width:100%;
	font-weight:bold;
}
.col-md-9, .col-md-8, .col-md-3, .col-md-1{
	padding:0;
	float:left;
}
.col-md-9{
	width:765px;
}
.col-md-8{
	width:650px;
}
.col-md-1{
	width:86px;
}
.col-md-3{
	width:255px;
}
.form-inner, .form-needs{
	padding: 0;
	margin: 0;
	margin-left: 0px!important;
	list-style: none;
	overflow:hidden;
}
.form-inner .form-fields{
	width: 48%;
	margin-right: 2%;
	float: left;
	margin-bottom: 10px;
}
.form-inner li input, .form-inner li select{
	width: 60%;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	height: 40px;
	padding: 6px 10px;
	margin-bottom: 5px;
	font-size: 14px;
	line-height: 20px;
	color: #858585;
	border-radius: 4px;
	vertical-align: middle;
}
.form-inner li font {
	position: relative;
	width:40%;
	font-size: 16px;
	font-weight: bold;
	color: #858585;
	padding: 12px 0;
	vertical-align: middle;
	float: left;
	line-height: 16px;
}
.form-needs li{
	margin-right: 2%;
	float: left;
	margin-bottom: 10px;
}
.form-needs li select, .add-require{
	width: 240px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	float:right;
	height: 40px;
	padding: 6px 10px;
	margin-bottom: 5px;
	font-size: 14px;
	line-height: 20px;
	color: #858585;
	border-radius: 4px;
	vertical-align: middle;
}
.form-needs li font{
	position:relative;
	font-size: 16px;
	font-weight: bold;
	color: #858585;
	padding: 12px 0;
	vertical-align: middle;
	float: left;
	line-height: 16px;
}
.ne-li-1{
	width: 58%;
}
.ne-li-2{
	width: 38%;
}
.ne-li-3{
	width: 100%;
}
.ne-li-3 h3{
	font-size: 16px;
	font-weight: bold;
	margin-bottom:0;
	color: #858585;
}
.optional-area{
	position:absolute;
	font-size:12px;
	font-style:italic;
	left:0;
	top:30px;
	font-weight: normal;
	line-height: 12px;
}
.errorlist{
	color:red;
	list-style: none;
	font-size:12px;
	padding:0;
}
.make-line{
	clear:both;
	width:100%;
}
#s2-sm{
	background-color:#84d6d2;
	color:#fff;
	border-radius: 4px;
	border:0;
	font-size:30px;
	font-weight:bold;
	width:98%;
	margin-bottom: 100px;
}
.feature-info{
	border: 1px solid #dce3e5;
	border-radius: 5px;
	padding: 15px 25px 15px;
	margin-bottom: 15px!important;
	text-align: left;
}
.feature-info h2{
	font-size:20px;
	font-weight:bold;
	margin-top:0;
}
.feature-info p{
	color: #858585;
	margin:0;
}
.feature-info p a{
	font-weight:bold;
	color:#55DCCD;
	cursor:pointer;
}
.tooltip-inner {
	color: #000;
	background-color: #84D6D2;
}
.tooltip.left .tooltip-arrow {
	border-left-color: #84D6D2;	
}
.tooltip.top .tooltip-arrow {
	border-top-color: #84D6D2;	
}
textarea{
	width:98%;
	height:112px;
	border: 1px solid #cccccc;
	color: #858585;
	border-radius: 4px;
}
.msg-char{
	position:relative;
}
#message-char{
	position:absolute;
	bottom:10px;
	right:30px;
	font-style:italic;
	color:#acacac;
}
.tiffany-blue-btn{
	background-color: #84d6d2;
	color:#fff;
	border: 1px solid #84d6d2;
}
.captcha{
	height:30px;
	cursor:pointer;
}
.supply-content{
	width:600px;
	padding:0 70px;
}
.supply-content ul{
	padding-left: 20px;
}
.supply-title{
	font-size:22px;
	text-align:center;
	padding:15px 0;
	border-bottom:1px dashed silver; 
}
.co-sc{
	float:left;
	width:50%;
}
.co-sc h3{
	margin-top:0;
}
.confirm-pop{
	background-color: #FFF;
	color: #111;
	display: none;
	padding: 12px;
}
.confirm-close {
	border-radius: 0;
	font: bold 20px arial;
	padding: 0 6px 2px;
	position: absolute;
	right: 0px;
	top: 0px;
	color: gray;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	background-color: #fff;
}
.confirm-content{
	width: 620px;
}
#confirm-top{
	text-align:center;
	margin-bottom: 30px;
}
.confirm-content h4{
	text-align:center;
	font-size:22px;
	font-weight:bold;
	margin-bottom: 25px;
}
.confirm-content ol li{
	padding:5px 0;
}
@media (max-width: 1200px) {

.service_border{
    display: none;
}

}