{% extends "base.html" %}
{% block extra_css %}
<link rel="stylesheet" href="/static/css/step.css">
{% endblock extra_css %}
{% block content %}
<div class="page-box">
	<div class="container" style="width: 1050px;">
		<div id="custom-step">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-2">
					 <div class="service_border bdr-blue"></div>
	                 <div class="service_icon active">
	                        1
	                 </div>
	                 <div class="service_content">
	                     <h3>Date <br> And Time</h3>
	                 </div>
				</div>
				<div class="col-md-2">
					 <div class="service_border bdr-blue"></div>
	                 <div class="service_icon active">
	                        2
	                 </div>
	                 <div class="service_content">
	                     <h3>Contact <br> Information</h3>
	                 </div>
				</div>
				<div class="col-md-2">
					 <div class="service_border bdr-default"></div>
	                 <div class="service_icon active">
	                        3
	                 </div>
	                 <div class="service_content">
	                     <h3>Cleaning <br> needs</h3>
	                 </div>
				</div>
				<div class="col-md-2">
	                 <div class="service_icon default">
	                        4
	                 </div>
	                 <div class="service_content text-default">
	                     <h3>CONFIRM<br> AND PAY</h3>
	                 </div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container" style="width: 1050px;">
	<div class="top-line col-md-9">
		<h3>Cleaning Needs</h3>
	</div>
	<div class="col-md-9">
		<form action="" method="post" enctype="multipart/form-data">
			<ul class="form-needs">
				<li class="ne-li-1">
					<font>ROOMS</font>
					{{ form.bedroom }}
					{{ form.bedroom.errors }}
				</li>
				<li class="ne-li-2">
					{{ form.bathroom }}
					{{ form.bathroom.errors }}
				</li>
				<li class="ne-li-1">
					<font>INSIDE FRIDGE<span class="optional-area">(additional task)</span></font>
					<button class="refrigerator add-require add-re" type="button" data-toggle="tooltip" data-placement="top" title="+1 Hour">YES</button>
					{{ form.refrigerator }}
					{{ form.refrigerator.errors }}
				</li>
				<li class="ne-li-2">
					<button class="refrigerator add-require tiffany-blue-btn" type="button">NO</button>
				</li>
				<li class="ne-li-1">
					<font>HAND WASH CLOTHES<span class="optional-area">(additional task)</span></font>
					<button class="hand_wash add-require add-re" type="button" data-toggle="tooltip" data-placement="top" title="+1 Hour">YES</button>
					{{ form.hand_wash }}
					{{ form.hand_wash.errors }}
				</li>
				<li class="ne-li-2">
					<button class="hand_wash add-require tiffany-blue-btn" type="button">NO</button>
				</li>
				<li class="ne-li-1">
					<font>IRON CLOTHES<span class="optional-area">(additional task)</span></font>
					<button class="iron_clothe add-require add-re" type="button" data-toggle="tooltip" data-placement="top" title="+1 Hour">YES</button>
					{{ form.iron_clothe }}
					{{ form.iron_clothe.errors }}
				</li>
				<li class="ne-li-2">
					<button class="iron_clothe add-require tiffany-blue-btn" type="button">NO</button>
				</li>
				<li class="ne-li-1">
					<font style="width:380px;">NUMBER OF HOURS RECOMMENDED</font>
				</li>
				<li class="ne-li-2">
					<select id="id_hour" name="hour">
						<option value="3.0" selected="selected">3 hours</option>
						<option value="3.5">3.5 hours</option>
						<option value="4.0">4 hours</option>
						<option value="4.5">4.5 hours</option>
						<option value="5.0">5 hours</option>
						<option value="5.5">5.5 hours</option>
						<option value="6.0">6 hours</option>
						<option value="6.5">6.5 hours</option>
						<option value="7.0">7 hours</option>
						<option value="7.5">7.5 hours</option>
						<option value="8.0">8 hours</option>
						<option value="8.5">8.5 hours</option>
						<option value="9.0">9 hours</option>
						<option value="9.5">9.5 hours</option>
						<option value="10.0">10 hours</option>
					</select>
				</li>
				<li class="ne-li-3"><h3>SPECIAL INSTRUCTIONS</h3></li>
				<li class="ne-li-3 msg-char">
					{{ form.message }}
					{{ form.message.errors }}
					<span id="message-char">maximum of 300 characters, <var>300</var> left.</span>
				</li>
			</ul>
			<button id="s2-sm" type="submit">NEXT</button>
		</form>
	</div>
	<div class="col-md-3">
		<div class="feature-info">
			<h2>What's Included in the Cleaning</h2>
			<p>Our professional Merry Cleaners are trained to ensure your home will be sparkling clean!<br /><a class="popdown" id='include'>learn more</a></p>
			<div class="bpop" id="bpop-include">
				<span class="b-close">x</span>
				<div class="b-content">
					<h4 class="space-border">What's Included in the Cleaning?</h4>
					<table>
						<tr>
							<td valign="top">
								<p class="big-font">Bedroom</p>
								<ol>
									<li>Beds made</li>
									<li>Clothes folded</li>
									<li>Furniture & surfaces wiped and dusted</li>
									<li>Items organized</li>
									<li>Floors mopped</li>
									<li>Window wiped (inside within reachable limit)</li>
									<li>Trash emptied</li>
								</ol>
							</td>
							<td>
								<img src="/static/img/in1.png">
							</td>
						</tr>
						<tr>
							<td>
								<img src="/static/img/in2.png">
							</td>
							<td valign="top">
								<p class="big-font">Bathroom</p>
								<ol>
									<li>Shower & bathtub rinsed and wiped</li>
									<li>Countertops wiped</li>
									<li>Toilets cleaned</li>
									<li>Sinks, faucets, and fixtures wiped</li>
									<li>Mirrors cleaned</li>
									<li>Items organized</li>
									<li>Floors mopped</li>
									<li>Window wiped (inside within reachable limit)</li>
									<li>Trash emptied</li>
								</ol>
							</td>
						</tr>
						<tr>
							<td valign="top">
								<p class="big-font">Kitchen</p>
								<ol>
									<li>Dishes washed</li>
									<li>Cabinet exteriors wiped</li>
									<li>Countertops and backsplash wiped</li>
									<li>Sinks, faucets, and fixtures wiped</li>
									<li>Items organized</li>
									<li>Floors mopped</li>
									<li>Window wiped (inside within reachable limit)</li>
									<li>Trash emptied</li>
								</ol>
							</td>
							<td>
								<img src="/static/img/in3.png">
							</td>
						</tr>
						<tr>
							<td>
								<img src="/static/img/in4.png">
							</td>
							<td valign="top">
								<p class="big-font">Other Areas</p>
								<ol>
									<li>Furniture & surfaces wiped and dusted</li>
									<li>Items organized</li>
									<li>Floors mopped</li>
									<li>Window wiped (inside within reachable limit)</li>
									<li>Trash emptied</li>
								</ol>
							</td>
						</tr>
					</table>
					<center><h4>Special Requirements</h4>(upon request only)</center>
					<ol>
						<li>Refrigerator inside cleaned</li>
						<li>Clothes hand washed</li>
						<li>Clothes ironed</li>
					</ol>
					<h4 class="space-border"></h4>
					<center><h4>Services NOT Included</h4></center>
					<em>Due to insurance liability, safety constraints and other considerations we do not offer the following:</em>
					<ul>
						<li>Deep stain removal</li>
						<li>Dusting and/or vacuuming of ceilings/windows/surfaces outside of normal reach</li>
						<li>Cleaning outside the windows</li>
						<li>Cleaning pet messes</li>
						<li>Carpet cleaning</li>
						<li>Steam cleaning</li>
						<li>Extermination (insects, etc)</li>
						<li>Cleaning of mold and biohazardous meterial</li>
						<li>Landscaping</li>
						<li>Yardwork</li>
						<li>Garage</li>
						<li>Patios</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="feature-info">
			<h2>Cleaning Supplies Provided</h2>
			<p>We will bring most supplies necessary to make it hassle-free.<br /><a class="popdown" id='supply'>learn more</a></p>
			<div class="bpop" id="bpop-supply">
				<span class="b-close">x</span>
				<div class="b-content">
					<h4 class="space-border">Supplies Included</h4>
					<div class="supply-content">
						<h4 class="supply-title">Quality cleaning products for your home</h4>
						<table>
							<tr>
								<td>
									<img src="/static/img/sup1.png">
								</td>
								<td>
									<p class="big-font">Chemical Cleaners</p>
									<p>Multi-purpose Cleaner<br />
									Bathroom Cleaner<br />
									Kitchen Cleaner</p>
								</td>
							</tr>
							</table>
							<h4 class="supply-title"></h4>
							<table>
							<tr>
								<td>
									<p class="big-font">Cleaning tools</p>
									<p>Pair of gloves<br />
									4 pieces of microfiber clothes<br />
									2 pieces of clothes for drying<br />
									Glass spatula<br />
									Scouring pad<br />
									Bathtub brush<br />
									Steel wire ball</p>
								</td>
								<td>
									<img src="/static/img/sup2.png">
								</td>
							</tr>
						</table>
					</div>
					<h4 class="space-border"></h4>
					<div class="supply-content">
						<h4 class="supply-title">Cleaning Supplies NOT Included</h4>
						<p><em>Please make sure your are able to provide all the necessary supplies for your apartment</em></p>
						<ul>
							<li>Canister vacuum</li>
							<li>Duster</li>
							<li>Floor mop</li>
							<li>Toilet brush</li>
							<li>Bucket</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
{% block extra_js %}
<script type="text/javascript">
$('#id_bedroom').val('1');
$('#id_bathroom').val('1');
$('#id_hour').val('3.0');
$(".add-require").click(function(){
	var need = $(this).attr('class').split(' ')[0];
	$('.'+need).removeClass("tiffany-blue-btn");
	if ($(this).hasClass('add-re')){
		$('#id_'+need).val('True').trigger("change");
	}else{
		$('#id_'+need).val('False').trigger("change");
	}
	$(this).addClass("tiffany-blue-btn");
	var total = $(".add-hour[value=True]").length;
	var bed = Number($("#id_bedroom").val())*0.5;
	var bath = Number($("#id_bathroom").val())*0.5;
	var total_hours = 2+bed+bath+total;
	if (total_hours < 3){
		var total_hours = 3;
	}
	$('#id_hour').val(total_hours.toFixed(1));
});
$("#id_bedroom, #id_bathroom").change(function(){
	var bed = Number($("#id_bedroom").val())*0.5;
	var bath = Number($("#id_bathroom").val())*0.5;
	var addition = $(".add-hour[value=True]").length;
	var total_hours = 2+bed+bath+addition;
	if (total_hours < 3){
		var total_hours = 3;
	}
	$('#id_hour').val(total_hours.toFixed(1));
});

$("#id_laundry").click(function(){
	$(".no-laundry").removeClass("tiffany-blue-btn");
});
$("#id_message").keyup(function(){
	var counter = $(this).val().length;
	$("#message-char var").text(300 - counter);
});
$('.add-re').tooltip();
</script>
{% endblock extra_js %}