{% extends "base.html" %}
{% block extra_css %}
<link rel="stylesheet" href="/static/css/step.css">
{% endblock extra_css %}
{% block content %}
<div class="page-box">
	<div class="container">
		<div id="custom-step">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-2">
					 <div class="service_border bdr-blue"></div>
	                 <div class="service_icon active">
	                        1
	                 </div>
	                 <div class="service_content">
	                     <h3>Date <br> And Time</h3>
	                 </div>
				</div>
				<div class="col-md-2">
					 <div class="service_border bdr-default"></div>
	                 <div class="service_icon active">
	                        2
	                 </div>
	                 <div class="service_content">
	                     <h3>Contact <br> Information</h3>
	                 </div>
				</div>
				<div class="col-md-2">
					 <div class="service_border bdr-default"></div>
	                 <div class="service_icon default">
	                        3
	                 </div>
	                 <div class="service_content text-default">
	                     <h3>Cleaning <br> needs</h3>
	                 </div>
				</div>
				<div class="col-md-2">
	                 <div class="service_icon default">
	                        4
	                 </div>
	                 <div class="service_content text-default">
	                     <h3>CONFIRM<br> AND PAY</h3>
	                 </div>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="top-line col-md-8">
		<h3>Cleaning Needs</h3>
	</div>
	<div class="col-md-8">
		<form action="" method="post" enctype="multipart/form-data">
			<ul class="form-needs">
				<li class="ne-li-1">
					<font>ROOMS</font>
					{{ form.bedroom }}
					{{ form.bedroom.errors }}
				</li>
				<li class="ne-li-2">
					{{ form.bathroom }}
					{{ form.bathroom.errors }}
				</li>
				<li class="ne-li-1">
					<font>ADD LAUNDRY<span class="optional-area">(Optional)</span></font>
					{{ form.laundry }}
					{{ form.laundry.errors }}
				</li>
				<li class="ne-li-2">
					<button class="no-laundry tiffany-blue-btn" type="button">NO</button>
				</li>
				<li class="ne-li-1">
					<font style="width:380px;">NUMBER OF HOURS<span class="optional-area">We recommend 3 hours based on our experience with places like yours</span></font>
				</li>
				<li class="ne-li-2">
					{{ form.hour }}
					{{ form.hour.errors }}
				</li>
				<li class="ne-li-3"><h3>COMMENTS/MESSAGE</h3></li>
				<li class="ne-li-3">
					{{ form.message }}
					{{ form.message.errors }}
				</li>
			</ul>
			<button id="s2-sm" type="submit">NEXT</button>
		</form>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-3">
		<div class="feature-info">
			<h2>Commitment to Trust and Safety</h2>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit ETXsed diam nonummy nibh euismod tincidunt. <a>Learn More</a></p>
		</div>
		<div class="feature-info">
			<h2>Free Security</h2>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit ETXsed diam nonummy nibh euismod tincidunt. <a>Learn More</a></p>
		</div>
	</div>
</div>
{% endblock content %}
{% block extra_js %}
<script type="text/javascript">

		$(".no-laundry").click(function(){
        	$(this).addClass("tiffany-blue-btn");
        });
        
        $("#id_laundry").click(function(){
        	$(".no-laundry").removeClass("tiffany-blue-btn");
        	});

</script>
{% endblock extra_js %}