{% extends "base.html" %}
{% block extra_css %}
<link rel="stylesheet" href="/static/css/step.css">
{% endblock extra_css %}
{% block content %}
<div class="page-box">
	<div class="container" style="width: 1050px;">
		<div id="custom-step">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-2">
					 <div class="service_border bdr-blue"></div>
	                 <div class="service_icon active">
	                        1
	                 </div>
	                 <div class="service_content">
	                     <h3>Date <br> And Time</h3>
	                 </div>
				</div>
				<div class="col-md-2">
					 <div class="service_border bdr-blue"></div>
	                 <div class="service_icon active">
	                        2
	                 </div>
	                 <div class="service_content">
	                     <h3>Contact <br> Information</h3>
	                 </div>
				</div>
				<div class="col-md-2">
					 <div class="service_border bdr-blue"></div>
	                 <div class="service_icon active">
	                        3
	                 </div>
	                 <div class="service_content">
	                     <h3>Cleaning <br> needs</h3>
	                 </div>
				</div>
				<div class="col-md-2">
	                 <div class="service_icon active">
	                        4
	                 </div>
	                 <div class="service_content">
	                     <h3>CONFIRM<br> AND PAY</h3>
	                 </div>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
	</div>
</div>
<div class="container" style="width: 1050px;">
	<div class="top-line col-md-9">
		&nbsp;
	</div>
	<div class="col-md-9 step4-line">
		<div class="co-sc">
			<h3>SCHEDULE</h3>
			<p><strong>Day:</strong> {{ item.clean_time|date:"l" }}</p>
			<p><strong>Date:</strong> {{ item.clean_time|date:"M d, Y" }}</p>
			<p><strong>Time:</strong> {{ item.clean_time|date:"h:i A" }}</p>
		</div>
		<div class="co-sc">
			<h3>COST</h3>
			<p>{{ item.hour }} hours @ 35rmb/hr</p>
			<p><strong>Total Cost:</strong> {{ fee }}rmb</p>
		</div>
		<div style="clear:both;"></div>
		<h3>ADDRESS</h3>
		<p><strong>Street #:</strong> {{ item.booker.my_profile.street_num }}</p>
		<p><strong>Building #:</strong> {{ item.booker.my_profile.bldg_num }}</p>
		<p><strong>Apartment #:</strong> {{ item.booker.my_profile.apt_num }}</p>
		<p><strong>Cross Street:</strong> {{ item.booker.my_profile.cross }}</p>
		<p><strong>Area:</strong> {{ item.booker.my_profile.get_area_display }}</p>
		<p><strong>Compound Name:</strong> {{ item.booker.my_profile.compound }}</p>
		<div id="divide"></div>
		<div id="pay_method">
			<div class="opt-box">
				<table>
					<tr>
						<td width="10%"><input type="radio" name="pay_method" value="1" id="cod" checked="checked"></td>
						<td width="90%"><label for="cod">Cash Upon Service</label></td>
					</tr>
					<tr>
						<td width="10%">&nbsp;</td>
						<td width="90%">&nbsp;</td>
					</tr>
				</table>
			</div>
			<div class="opt-box">
				<table>
					<tr>
						<td width="10%"><input type="radio" name="pay_method" value="2" id="credit" disabled="disabled"></td>
						<td width="90%"><label for="credit" class="poptip" data-toggle="tooltip" data-placement="top" title="Not available yet">Credit Card</label></td>
					</tr>
					<tr>
						<td width="10%">&nbsp;</td>
						<td width="90%"><img src="/static/img/cc.png"></td>
					</tr>
				</table>
			</div>
			<div class="opt-box">
				<table>
					<tr>
						<td width="10%"><input type="radio" name="pay_method" value="2"  id="union" disabled="disabled"></td>
						<td width="90%"><label for="union" class="poptip" data-toggle="tooltip" data-placement="top" title="Not available yet">Union Pay</label></td>
					</tr>
					<tr>
						<td width="10%">&nbsp;</td>
						<td width="90%"><img src="/static/img/unp.png"></td>
					</tr>
				</table>
			</div>
		</div>
		<button id="s2-sm" type="submit">CONFIRM BOOKING</button>
	</div>
	<div class="col-md-3">
		<div class="feature-info">
			<h2>What's Included in the Cleaning</h2>
			<p>Our professional Merry Cleaners are trained to ensure your home will be sparkling clean!<br /><a class="popdown" id='include'>learn more</a></p>
			<div class="bpop" id="bpop-include">
				<span class="b-close">x</span>
				<div class="b-content">
					<h4 class="space-border">What's Included in the Cleaning?</h4>
					<table>
						<tr>
							<td valign="top">
								<p class="big-font">Bedroom</p>
								<ol>
									<li>Beds made</li>
									<li>Clothes folded</li>
									<li>Furniture & surfaces wiped and dusted</li>
									<li>Items organized</li>
									<li>Floors mopped</li>
									<li>Window wiped (inside within reachable limit)</li>
									<li>Trash emptied</li>
								</ol>
							</td>
							<td>
								<img src="/static/img/in1.png">
							</td>
						</tr>
						<tr>
							<td>
								<img src="/static/img/in2.png">
							</td>
							<td valign="top">
								<p class="big-font">Bathroom</p>
								<ol>
									<li>Shower & bathtub rinsed and wiped</li>
									<li>Countertops wiped</li>
									<li>Toilets cleaned</li>
									<li>Sinks, faucets, and fixtures wiped</li>
									<li>Mirrors cleaned</li>
									<li>Items organized</li>
									<li>Floors mopped</li>
									<li>Window wiped (inside within reachable limit)</li>
									<li>Trash emptied</li>
								</ol>
							</td>
						</tr>
						<tr>
							<td valign="top">
								<p class="big-font">Kitchen</p>
								<ol>
									<li>Dishes washed</li>
									<li>Cabinet exteriors wiped</li>
									<li>Countertops and backsplash wiped</li>
									<li>Sinks, faucets, and fixtures wiped</li>
									<li>Items organized</li>
									<li>Floors mopped</li>
									<li>Window wiped (inside within reachable limit)</li>
									<li>Trash emptied</li>
								</ol>
							</td>
							<td>
								<img src="/static/img/in3.png">
							</td>
						</tr>
						<tr>
							<td>
								<img src="/static/img/in4.png">
							</td>
							<td valign="top">
								<p class="big-font">Other Areas</p>
								<ol>
									<li>Furniture & surfaces wiped and dusted</li>
									<li>Items organized</li>
									<li>Floors mopped</li>
									<li>Window wiped (inside within reachable limit)</li>
									<li>Trash emptied</li>
								</ol>
							</td>
						</tr>
					</table>
					<center><h4>Special Requirements</h4>(upon request only)</center>
					<ol>
						<li>Refrigerator inside cleaned</li>
						<li>Clothes hand washed</li>
						<li>Clothes ironed</li>
					</ol>
					<h4 class="space-border"></h4>
					<center><h4>Services NOT Included</h4></center>
					<em>Due to insurance liability, safety constraints and other considerations we do not offer the following:</em>
					<ul>
						<li>Deep stain removal</li>
						<li>Dusting and/or vacuuming of ceilings/windows/surfaces outside of normal reach</li>
						<li>Cleaning outside the windows</li>
						<li>Cleaning pet messes</li>
						<li>Carpet cleaning</li>
						<li>Steam cleaning</li>
						<li>Extermination (insects, etc)</li>
						<li>Cleaning of mold and biohazardous meterial</li>
						<li>Landscaping</li>
						<li>Yardwork</li>
						<li>Garage</li>
						<li>Patios</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="feature-info">
			<h2>Cleaning Supplies Provided</h2>
			<p>We will bring most supplies necessary to make it hassle-free.<br /><a class="popdown" id='supply'>learn more</a></p>
			<div class="bpop" id="bpop-supply">
				<span class="b-close">x</span>
				<div class="b-content">
					<h4 class="space-border">Supplies Included</h4>
					<div class="supply-content">
						<h4 class="supply-title">Quality cleaning products for your home</h4>
						<table>
							<tr>
								<td>
									<img src="/static/img/sup1.png">
								</td>
								<td>
									<p class="big-font">Chemical Cleaners</p>
									<p>Multi-purpose Cleaner<br />
									Bathroom Cleaner<br />
									Kitchen Cleaner</p>
								</td>
							</tr>
							</table>
							<h4 class="supply-title"></h4>
							<table>
							<tr>
								<td>
									<p class="big-font">Cleaning tools</p>
									<p>Pair of gloves<br />
									4 pieces of microfiber clothes<br />
									2 pieces of clothes for drying<br />
									Glass spatula<br />
									Scouring pad<br />
									Bathtub brush<br />
									Steel wire ball</p>
								</td>
								<td>
									<img src="/static/img/sup2.png">
								</td>
							</tr>
						</table>
					</div>
					<h4 class="space-border"></h4>
					<div class="supply-content">
						<h4 class="supply-title">Cleaning Supplies NOT Included</h4>
						<p><em>Please make sure your are able to provide all the necessary supplies for your apartment</em></p>
						<ul>
							<li>Canister vacuum</li>
							<li>Duster</li>
							<li>Floor mop</li>
							<li>Toilet brush</li>
							<li>Bucket</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
{% block extra_js %}
<script type="text/javascript">
$('.poptip').tooltip();
</script>
{% endblock extra_js %}