{% extends "base.html" %}
{% block title %}Merry Cleaning Services - FAQ{% endblock title %}
{% block description %}FAQ - Luxury ayi house cleaning in Shanghai, China for expats and local Chinese.  English speaking customer service. Book Online{% endblock description %}
{% block extra_css %}
<link rel="stylesheet" href="/static/css/common.css">
{% endblock extra_css %}
{% block content %}
<div class="page-box">
	<div class="container">
		<div class="common-content">
			 <h1>Frequently Asked Questions</h1>
			 <p><strong><font>Are Merry Cleaners reliable?</font></strong><br />Merry Cleaners are selected strictly by real-name authentication, background checks, and data recorded. After several rounds of interview selection, we only admit the top 10% ayis. Our company is equipped with excellent housekeeping training team to ensure merry cleaners in high quality, including service skills, service attitude, and service etiquette targeting the expats and local Chinese. If you join Merry Cleaning Services, you will enjoy exclusive one-to-one service, as well as privileges such as preferential arrangement, replacing cleaner, etc.</p>
			 <p><strong><font>Will Merry Cleaners bring cleaning tools themselves?</font></strong><br />Merry Cleaner will bring a professional toolkit with professional cleaning supplies, including four pieces of dishcloth in different colors for different regions respectively, two pieces of white cloth, scouring pad, a wireless ball, a glass blowing, a bathtub brush, and three bottles of professional cleaner. If you have special needs, please fill out the special instructions during booking or tell our customer services.  We DO NOT provide vacuum, floor mop, toilet brush, and buckets.</p>
			 <p><strong><font>May I have to be at home during the cleaning?</font></strong><br />Yes. If you need to go out during the house cleaning, please fill out the special instructions during booking.</p>
			 <p><strong><font>What if Merry Cleaner accidentally gets injured during service?</font></strong><br />We have already purchased accident insurance for Merry Cleaners. If the Merry Cleaner gets injured during service (such as falls, scratches, etc), please inform our customer service manager immediately. Then Merry Cleaning Services will cope with claims work with the insurance company. Otherwise, we are not able to bear the liability for the lack of accident nature, reason, loss process due to late notice.</p>
			 <p><strong><font>How to charge for cleaning services?</font></strong><br />The rate is 35 RMB/hour for regular weekly customers and 50 RMB/hour for non-regular customers.  If you book every other week, this will still be considered non-regular.  Each scheduled service time is a minimum of 3 hours in order to provide the excellent service as promised. Payments can be made online or cash upon service. The system will estimate length of cleaning time in advance according to the house area. If the cleaning needs are beyond the initial hours booked, please call our customer service.</p>
			 <p><strong><font>How to change or cancel the booking service?</font></strong><br />You can cancel the booking online. To change the schedule, please call our customer service 021-6380 1553.</p>
		</div>
	</div>
</div>
{% endblock content %}
{% block extra_js %}

{% endblock extra_js %}