{% extends "base.html" %}
{% block extra_css %}
<link rel="stylesheet" href="/static/css/home.css">
<link rel="stylesheet" href="/static/css/jquery.datetimepicker.css">
{% endblock extra_css %}
{% block content %}
<div class="carousel slide bigeye">
  <!-- Indicators
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
	 -->
  <!-- Wrapper for slides -->
  <ul class="carousel-inner">
  	
    <li class="item active">
      <img src="/static/img/s1.png" alt="image 1">
    </li>
    <li class="item">
      <img src="/static/img/s2.png" alt="image 2">
    </li>
     <li class="item">
      <img src="/static/img/s3.png" alt="image 3">
    </li>
     <li class="item">
      <img src="/static/img/s4.png" alt="image 4">
    </li>
     <li class="item">
      <img src="/static/img/s5.png" alt="image 5">
    </li>
  </ul>
  <!-- Controls
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
   -->
</div>
<div class="book-area">
	<div class="book-container">
		<div class="welcome-area">
			<div class="blk-middle">
				<h1>WANT A CLEAN HOME?</h1>
				<p>BOOK ONLINE or CALL 1234 1234 FOR ENGLISH SERVICE</p>
				<a href="#mark-1" class="btn btn-contrast btn-large how-it-works">HOW IT WORKS</a>
      		</div>
		</div>
		<div class="set-area">
      		<div class="choose-box">
      		<form action="" method="post" id="clean-time-form">
      			{% csrf_token %}
      			<div class="input-group date-div">
	      			<input type="text" class="date-box" readonly="readonly" name="clean_date">
	      			<span class="input-group-addon glyphicon glyphicon-calendar"></span>
      			</div>
      			<div class="input-group time-div">
	      			<input type="text" class="time-box" readonly="readonly" name="clean_time">
	      			<span class="input-group-addon glyphicon glyphicon-time"></span>
      			</div>
      			<select id="type-box" name="clean_type">
      				<option value="1">One Time</option>
      				<option value="2">Weekly</option>
            	</select>
            	<button id="clean-book" type="submit">BOOK NOW</button>
            </form>
      		</div>
		</div>
	</div>
</div>
<div class="container fea-area">
	<ul>
		<li>
			<img src="/static/img/f1.png" alt="feature" />
			<p>100% Satisfaction Guarantee</p>
			<font>Learn More</font>
		</li>
		<li>
			<img src="/static/img/f2.png" alt="feature" />
			<p>Professionally trained and certified cleaners</p>
			<font>Learn More</font>
		</li>
		<li>
			<img src="/static/img/f3.png" alt="feature" />
			<p>Insured and Bonded</p>
			<font>Learn More</font>
		</li>
		<li>
			<img src="/static/img/f4.png" alt="feature" />
			<p>Trust & Safety</p>
			<font>Learn More</font>
		</li>
		<li>
			<img src="/static/img/f5.png" alt="feature" />
			<p>English-speaking Customer Service</p>
			<font>Learn More</font>
		</li>
	</ul>
</div>
<div class="container info-area" id="mark-1">
	<ul>
		<li>
			<img src="/static/img/i1.png" alt="info" />
			<p>1. BOOK</p>
			<font>Tell us when you want to clean your home</font>
		</li>
		<li>
			<img src="/static/img/i2.png" alt="info" />
			<p>2. CLEAN</p>
			<font>Professionally certified cleaner cleans your place</font>
		</li>
		<li>
			<img src="/static/img/i3.png" alt="info" />
			<p>3. ENJOY</p>
			<font>Come home to a speaking clean home</font>
		</li>
	</ul>
	<div id="wi"><a href="#" class="btn btn-contrast btn-large home-wi">WHAT'S INCLUDED?</a></div>
</div>
{% endblock content %}
{% block extra_js %}
<script src="/static/js/jquery.datetimepicker.js"></script>
<script>
$('.date-box').datetimepicker({
	startDate:new Date(),
	closeOnDateSelect:true,
	timepicker:false,
	format:'d M 2014'
	});
$('.time-box').datetimepicker({
	datepicker:false,
	format:'H:i',
	step:60
	});
$('.input-group').click(function(){
	$(this).children('input').focus();
})
$('.carousel').carousel({
	interval: 5500,
	pause: false
	})
</script>
<script type="text/javascript">
$('.date-box').val('{{ default_date }}');
$('.time-box').val('09:00');
$("#clean-book").click(function(){
	if ($('.date-box').val()=="" || $('.time-box').val()==""){
		alert ("please choose the time");
		return false;
	}else{
		return true;
	}
	$("#clean-time-form").submit();
});
</script>
{% endblock extra_js %}