{% extends "base.html" %}
{% block extra_css %}
<link rel="stylesheet" href="/static/css/home.css">
<link rel="stylesheet" href="/static/css/jquery.datetimepicker.css">
{% endblock extra_css %}
{% block content %}
<div class="carousel slide bigeye">
  <ul class="carousel-inner">
    <li class="item active">
      <img src="/static/img/s1.png" alt="image 1">
    </li>
    <li class="item">
      <img src="/static/img/s2.png" alt="image 2">
    </li>
     <li class="item">
      <img src="/static/img/s3.png" alt="image 3">
    </li>
  </ul>
</div>
<div class="book-area">
	<div class="book-container">
		<div class="welcome-area">
			<div class="blk-middle">
				<h1>WANT A CLEAN HOME?</h1>
				<p>BOOK ONLINE or CALL FOR ENGLISH SERVICE <font>021-6380-1553</font></p>
				<a href="#mark-1" class="btn btn-contrast btn-large how-it-works">HOW IT WORKS</a>
      		</div>
		</div>
		<div class="set-area">
      		<div class="choose-box">
      		<form action="" method="post" id="clean-time-form">
      			{% csrf_token %}
      			<div class="input-group date-div">
	      			<input type="text" class="date-box" readonly="readonly" name="clean_date">
	      			<span class="input-group-addon glyphicon glyphicon-calendar"></span>
      			</div>
      			<div class="input-group time-div">
	      			<input type="text" class="time-box" readonly="readonly" name="clean_time">
	      			<span class="input-group-addon glyphicon glyphicon-time"></span>
      			</div>
      			<select id="type-box" name="clean_type">
      				<option value="1">One Time</option>
      				<option value="2">Weekly</option>
            	</select>
            	<button id="clean-book" type="submit">BOOK NOW</button>
            </form>
      		</div>
		</div>
	</div>
</div>
<div class="container fea-area">
	<ul>
		<li>
			<img src="/static/img/f1.png" alt="feature" />
			<p>100% Satisfaction Guarantee</p>
			<font class="poptip" data-toggle="tooltip" data-placement="bottom" title="If you are not completely satisfied with your cleaning, we will come back and re-clean it for free!">Learn More</font>
		</li>
		<li>
			<img src="/static/img/f2.png" alt="feature" />
			<p>Professionally Trained and Certified Cleaners</p>
			<font class="poptip" data-toggle="tooltip" data-placement="bottom" title="Every Merry Cleaner goes through an extensive training program to proudly wear the uniform">Learn More</font>
		</li>
		<li>
			<img src="/static/img/f4.png" alt="feature" />
			<p>Trust & Safety</p>
			<font class="poptip" data-toggle="tooltip" data-placement="bottom" title="All Merry Cleaners are background checked for your safety and peace of mind.">Learn More</font>
			<div class="bpop" id="bpop-ts">
				<span class="b-close">x</span>
				<div class="b-content"></div>
			</div>
		</li>
		<li>
			<img src="/static/img/f5.png" alt="feature" />
			<p>English-Speaking Customer Service</p>
		</li>
	</ul>
</div>
<div class="container info-area" id="mark-1">
	<ul>
		<li>
			<img src="/static/img/i1.png" alt="info" />
			<p>1. BOOK</p>
			<font>Tell us when you want to clean your home</font>
		</li>
		<li>
			<img src="/static/img/i2.png" alt="info" />
			<p>2. CLEAN</p>
			<font>Certified Merry Cleaner cleans your place</font>
		</li>
		<li>
			<img src="/static/img/i3.png" alt="info" />
			<p>3. ENJOY</p>
			<font>Enjoy your sparkling, clean home</font>
		</li>
	</ul>
	<div id="wi"><a href="#" class="btn btn-contrast btn-large home-wi">WHAT'S INCLUDED?</a></div>
</div>
{% endblock content %}
{% block extra_js %}
<script src="/static/js/jquery.datetimepicker.js"></script>
<script>
$('.date-box').datetimepicker({
	startDate:new Date(),
	closeOnDateSelect:true,
	timepicker:false,
	format:'d M 2014'
	});
$('.time-box').datetimepicker({
	datepicker:false,
	format:'H:i',
	step:60
	});
$('.input-group').click(function(){
	$(this).children('input').focus();
});
$('.carousel').carousel({
	interval: 5500,
	pause: false
	});
$('.poptip').tooltip();
</script>
<script type="text/javascript">
$('.date-box').val('{{ default_date }}');
$('.time-box').val('08:00');
$("#clean-book").click(function(){
	if ($('.date-box').val()=="" || $('.time-box').val()==""){
		alert ("please choose the time");
		return false;
	}else{
		return true;
	}
	$("#clean-time-form").submit();
});
</script>
{% endblock extra_js %}