{% extends "base.html" %}
{% block extra_css %}
<link rel="stylesheet" href="/static/css/step.css">
{% endblock extra_css %}
{% block content %}
<div class="page-box">
	<div class="container">
		<div id="custom-step">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-2">
					 <div class="service_border bdr-blue"></div>
	                 <div class="service_icon active">
	                        1
	                 </div>
	                 <div class="service_content">
	                     <h3>Date <br> And Time</h3>
	                 </div>
				</div>
				<div class="col-md-2">
					 <div class="service_border bdr-default"></div>
	                 <div class="service_icon active">
	                        2
	                 </div>
	                 <div class="service_content">
	                     <h3>Contact <br> Information</h3>
	                 </div>
				</div>
				<div class="col-md-2">
					 <div class="service_border bdr-default"></div>
	                 <div class="service_icon default">
	                        3
	                 </div>
	                 <div class="service_content text-default">
	                     <h3>Cleaning <br> needs</h3>
	                 </div>
				</div>
				<div class="col-md-2">
	                 <div class="service_icon default">
	                        4
	                 </div>
	                 <div class="service_content text-default">
	                     <h3>CONFIRM<br> AND PAY</h3>
	                 </div>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="top-line col-md-8">
		<h3>Personal Information</h3>
		<a href="{% url 'userena_signin' %}">Repeat Customer?</a>
	</div>
	<div class="col-md-8">
		<form method="post">
			{% csrf_token %}
			<ul class="form-inner">
				<li class="form-fields">
					<font>User Name</font>
					{{ form.username }}
					{{ form.username.errors }}
				</li>
				<li class="form-fields">
					<font>Email</font>
					{{ form.email }}
					{{ form.email.errors }}
				</li>
				<li class="make-line"></li>
				<li class="form-fields">
					<font>Mobile #<span class="optional-area">(must be 11 digits)</span></font>
					{{ form.mobile }}
					{{ form.mobile.errors }}
				</li>
				<li class="form-fields">
					<font>Confirm Email</font>
					{{ form.email2 }}
					{{ form.email2.errors }}
					{{ form.non_field_errors }}
				</li>
				<li class="make-line"></li>
				<li class="form-fields">
					<font>First Name</font>
					{{ form.first_name }}
					{{ form.first_name.errors }}
				</li>
				<li class="form-fields">
					<font>Password</font>
					{{ form.password1 }}
					{{ form.password1.errors }}
				</li>
				<li class="make-line"></li>
				<li class="form-fields">
					<font>Last Name</font>
					{{ form.last_name }}
					{{ form.last_name.errors }}
				</li>
			</ul>
			<div class="top-line">
				<h3>Housing Information</h3><br />
			</div>
			<div style="clear:both;"></div>
			<ul class="form-inner">
				<li class="form-fields">
					<font>Compound Name<span class="optional-area">(Optional)</span></font>
					{{ form.compound }}
					{{ form.compound.errors }}
				</li>
				<li class="form-fields">
					<font>Area<span class="optional-area">(Optional)</span></font>
					{{ form.area }}
					{{ form.area.errors }}
				</li>
				<li class="make-line"></li>
				<li class="form-fields">
					<font>Street #</font>
					{{ form.street_num }}
					{{ form.street_num.errors }}
				</li>
				<li class="form-fields">
					<font>Street Name</font>
					{{ form.street }}
					{{ form.street.errors }}
				</li>
				<li class="make-line"></li>
				<li class="form-fields">
					<font>Cross Street</font>
					{{ form.cross }}
					{{ form.cross.errors }}
				</li>
				<li class="form-fields">
					<font>Building #<span class="optional-area">(Optional)</span></font>
					{{ form.bldg_num }}
					{{ form.bldg_num.errors }}
				</li>
				<li class="make-line"></li>
				<li class="form-fields">
					<font>Apartment #<span class="optional-area">(Optional)</span></font>
					{{ form.apt_num }}
					{{ form.apt_num.errors }}
				</li>
				<li class="form-fields">
					{{ form.captcha }}
					{{ form.captcha.errors }}
				</li>
			</ul>
			<button id="s2-sm" type="submit">NEXT</button>
		</form>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-3">
		<div class="feature-info">
			<h2>Commitment to Trust and Safety</h2>
			<p>All Merry cleaners are background checked for your safety and peace of mind.</p>
		</div>
		<div class="feature-info">
			<h2>100% Satisfaction Guarantee</h2>
			<p>If you are not completely satisfied with your cleaning, we will come back and re-clean it for free!</p>
		</div>
	</div>
</div>
{% endblock content %}
{% block extra_js %}
<script type="text/javascript">
$(document).ready(function(){
	$.ajaxSetup({
			  data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
	});
	$('.captcha').click(function(){
	    $.get("?nc=1", function(result){
	       	//alert(result);
	        $('.captcha').attr("src",result);
	        $('#id_captcha_0').attr("value",result.split('/')[3]);
	     });
	return false;
	});
	$('#id_compound').change(function(){
		//alert ($(this).children('option:selected').val()); 
		var pk = $(this).children('option:selected').val();
		if (pk){
		$.get('/accounts/compound/'+pk, function (data) {
            //$("#id_location").data('position', data);
            $('#id_area, #id_street_num, #id_street, #id_cross').attr('readonly','true');
            $('#id_area').val(data.area);
            $('#id_street_num').val(data.address);
            $('#id_street').val(data.name);
            $('#id_cross').val(data.cross);
        });
		}else{
			$('#id_area, #id_street_num, #id_street, #id_cross').removeAttr('readonly');
			$('#id_area, #id_street_num, #id_street, #id_cross').val('');
		}
	});
});
$('.poptip').tooltip();
</script>
{% endblock extra_js %}
