{% extends "base.html" %}
{% block extra_css %}
<link rel="stylesheet" href="/static/css/common.css">
{% endblock extra_css %}
{% block content %}
<div class="page-box">
	<div class="container">
		<div class="common-content">
		<h1>Privacy Policy</h1>
		<p>Merry Services is committed to protecting your privacy and respect your personal information.  We will not publicize or provide to any third party the users’ registration information or private information that the users store on this website while using our service.  Nevertheless, it may be necessary for this website to share or transfer users’ personal data to a third party in the course of jointly running activities with such third party.</p>
		<p>To be compliant with the laws and regulations of People’s Republic of China, this website might disclose or provide users’ personal data to request from any competent courts, arbitration, or any other government entities.</p>
		<p>When you interact with us, we may collect personal data and other information from you.  We collect personal data from you when you voluntarily provide information such as when you contact us with inquiries, register for access to the website, which typically includes your name, telephone number, email address, home address, information about your home, your payment details, your IP address, and any other personal information which you give us in connection with the website.</p>
		<p>We use cookies to understand and save your preferences for future visits and compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.   Cookies are small files that a site or its service provider transfers to your computers hard drive through your Web browser (by permission only) that enables the sites or service providers systems to recognize your browser to capture and remember certain information.</p>
	    </div>
	</div>
</div>
{% endblock content %}
{% block extra_js %}

{% endblock extra_js %}