{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content_title %}<h2>{% blocktrans with user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content_extra %}
<div id="r-column">
	<h5><a href="{% url 'userena_profile_edit' user.username %}">My Account</a></h5>
	<h5><a href="{% url 'booking_history' user.username %}">Cleaning History</a></h5>
	<h5><a href="{% url 'billing' user.username %}">Billing History</a></h5>
	<h5 id="a-active">{% trans "Change Password" %}</h5>
	<h5><a href="{% url 'userena_signout'%}">Sign Out</a></h5>
	<div id="a-box">
		<div id="a-type">Account Balance</div>
		<div id="a-rest">0 RMB</div>
	</div>
</div>
<div id="l-column">
	<form action="" method="post" id="password_change_form">
	  <fieldset>
	    <legend>{% trans "Change Password" %}</legend>
	    {% csrf_token %}
	    <p><label for="id_old_password">Old Password:</label> {{form.old_password}}</p>
	    <p>{{form.old_password.errors}}</p>
	    <p><label for="id_new_password1">New Password:</label> {{form.new_password1}}</p>
	    <p>{{form.new_password1.errors}}</p>
	    <p><label for="id_new_password2">New Password Confirmation:</label> {{form.new_password2}}</p>
	    <p>{{form.new_password2.errors}}</p>
	  </fieldset>
	  <input type="submit" value="{% trans "Change Password" %}" />
	</form>
</div>
{% endblock %}
{% block aditional_js %}

{% endblock %}