{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "User Profile" %}{% endblock %}

{% block content_title %}<h2>{% blocktrans with profile.user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content_extra %}
{% if request.user.is_staff %}
<p>&nbsp;</p>
{% else %}
{% include 'book_line.html' %}
{% endif %}
<div id="r-column">
	<h5 id="a-active">My Account</h5>
	<h5><a href="{% url 'booking_history' user.username %}" id="hist_tab">Cleaning History</a></h5>
	<h5><a href="{% url 'billing' user.username %}" id="bill_tab">Billing History</a></h5>
	{% if not request.user.is_staff %}
	<h5><a href="{% url 'userena_password_change' user.username %}">{% trans "Change Password" %}</a></h5>
	<h5><a href="{% url 'userena_signout'%}">Sign Out</a></h5>
	{% endif %}
	<div id="a-box">
		<div id="a-type">Account Balance</div>
		<div id="a-rest">0 RMB</div>
	</div>
</div>
<div id="l-column">
	<ul class="form-inner">
				<li class="form-fields input-group">
					<font>User Name</font>
					<input type="text" value="{{ profile.user.username }}" disabled="disabled" id="customer_name">
				</li>
				<li class="form-fields">
					<font>Email</font>
					<input type="text" value="{{ profile.user.email }}" disabled="disabled">
				</li>
				<li class="form-fields">
					<font>Join Date</font>
					<input type="text" value="{{ profile.user.date_joined }}" disabled="disabled">
				</li>
	</ul>
	<form action="" enctype="multipart/form-data" method="post">
	{% csrf_token %}
	<ul class="form-inner a-op">
				<li class="form-fields">
					<font>First Name</font>
					{{ form.first_name }}
					{{ form.first_name.errors }}
				</li>
				<li class="form-fields">
					<font>Last Name</font>
					{{ form.last_name }}
					{{ form.last_name.errors }}
				</li>
				<li class="make-line"></li>
				<li class="form-fields">
					<font>Mobile #<span class="optional-area">(must be 11 digits)</span></font>
					{{ form.mobile }}
					{{ form.mobile.errors }}
				</li>
				<li class="form-fields">
					<font>Compound Name<span class="optional-area">(optional)</span></font>
					{{ form.compound }}
					{{ form.compound.errors }}
				</li>
				<li class="make-line"></li>
				<li class="form-fields">
					<font>Area<span class="optional-area">(optional)</span></font>
					{{ form.area }}
					{{ form.area.errors }}
				</li>
				<li class="form-fields">
					<font>Street #</font>
					{{ form.street_num }}
					{{ form.street_num.errors }}
				</li>
				<li class="make-line"></li>
				<li class="form-fields">
					<font>Street Name</font>
					{{ form.street }}
					{{ form.street.errors }}
				</li>
				<li class="form-fields">
					<font>Cross Street</font>
					{{ form.cross }}
					{{ form.cross.errors }}
				</li>
				<li class="make-line"></li>
				<li class="form-fields">
					<font>Building #<span class="optional-area">(optional)</span></font>
					{{ form.bldg_num }}
					{{ form.bldg_num.errors }}
				</li>
				<li class="form-fields">
					<font>Apartment #<span class="optional-area">(optional)</span></font>
					{{ form.apt_num }}
					{{ form.apt_num.errors }}
				</li>
	</ul>
	{{ form.privacy }}
	<input id="s2-sm" type="submit" value="{% trans "SAVE CHANGES" %}" {% if request.user.is_staff %}disabled="disabled"{% endif %} />
	</form>
</div>
<div class="confirm-pop">
	<span class="b-close confirm-close">x</span>
	<div class="confirm-content">
		<h3 id="confirm-top">YOUR BOOKING IS NOW CONFIRMED</h3>
		<h4>PAYMENT IS NOW COMPLETED</h4>
		<h4>Here's what to expect next:</h4>
		<ol>
			<li>You will receive a confirmation email. Please check your spam box if not received</li>
			<li>Please put the appointment in your calendar. We will wait a maximum of 15 minutes. If no one is home, you will still be responsible for the payment.</li>
			<li>Sign in your account to see schedule details or make a cancellation. For changes, please call us at 021-6380 1553</li>
		</ol>
    </div>
</div>
{% endblock %}
{% block extra_js %}
{% if request.user.is_staff %}
<script type="text/javascript">
var GET = $.urlGet();
var paid = GET['is_success'];
var paid_u = GET['payResult'];
if(paid=='T' || paid_u=='1'){
	$('.confirm-pop').bPopup({
		modalClose: false,
	    easing: 'easeOutBack', //uses jQuery easing plugin
        speed: 450,
        transition: 'slideDown'
    });
}
var username = $('#customer_name').val();
var bill_url = '/accounts/billing/'+username;
var hist_url = '/accounts/history/'+username;
$('#bill_tab').attr('href',bill_url);
$('#hist_tab').attr('href',hist_url);
</script>
{% endif %}
<script type="text/javascript">
$(document).ready(function(){
	$.ajaxSetup({
			  data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
	});
	$('#id_compound').change(function(){
		//alert ($(this).children('option:selected').val()); 
		var pk = $(this).children('option:selected').val();
		if (pk){
		$.get('/accounts/compound/'+pk, function (data) {
            //$("#id_location").data('position', data);
            $('#id_area, #id_street_num, #id_street, #id_cross').attr('readonly','readonly');
            $('#id_area').val(data.area);
            $('#id_street_num').val(data.address);
            $('#id_street').val(data.name);
            $('#id_cross').val(data.cross);
        });
		}else{
			$('#id_area, #id_street_num, #id_street, #id_cross').removeAttr('readonly');
			$('#id_area, #id_street_num, #id_street, #id_cross').val('');
		}
	});
});
</script>
{% endblock extra_js %}