{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "User Profile" %}{% endblock %}

{% block content_title %}<h2>{% blocktrans with profile.user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content_extra %}
{% include 'book_line.html' %}
<div id="r-column">
	<h5 id="a-active">My Account</h5>
	<h5><a href="{% url 'booking_history' user.username %}">Cleaning History</a></h5>
	<h5><a href="{% url 'billing' user.username %}">Billing History</a></h5>
	<h5><a href="{% url 'userena_password_change' user.username %}">{% trans "Change Password" %}</a></h5>
	<h5><a href="{% url 'userena_signout'%}">Sign Out</a></h5>
	<div id="a-box">
		<div id="a-type">Account Balance</div>
		<div id="a-rest">5,000 RMB</div>
	</div>
</div>
<div id="l-column">
	<ul class="form-inner">
				<li class="form-fields input-group">
					<font>User Name</font>
					<input type="text" value="{{ profile.user.username }}" disabled="disabled">
				</li>
				<li class="form-fields">
					<font>Email</font>
					<input type="text" value="{{ profile.user.email }}" disabled="disabled">
				</li>
				<li class="form-fields">
					<font>Join Date</font>
					<input type="text" value="{{ profile.user.date_joined }}" disabled="disabled">
				</li>
	</ul>
	<form action="" enctype="multipart/form-data" method="post">
	{% csrf_token %}
	<ul class="form-inner a-op">
				<li class="form-fields">
					<font>First Name</font>
					{{ form.first_name }}
					{{ form.first_name.errors }}
				</li>
				<li class="form-fields">
					<font>Last Name</font>
					{{ form.last_name }}
					{{ form.last_name.errors }}
				</li>
				<li class="make-line"></li>
				<li class="form-fields">
					<font>Mobile #<span class="optional-area">(must be 11 digits)</span></font>
					{{ form.mobile }}
					{{ form.mobile.errors }}
				</li>
				<li class="form-fields">
					<font>Compound Name<span class="optional-area">(Optional)</span></font>
					{{ form.compound }}
					{{ form.compound.errors }}
				</li>
				<li class="make-line"></li>
				<li class="form-fields">
					<font>Area<span class="optional-area">(Optional)</span></font>
					{{ form.area }}
					{{ form.area.errors }}
				</li>
				<li class="form-fields">
					<font>Street #</font>
					{{ form.street_num }}
					{{ form.street_num.errors }}
				</li>
				<li class="make-line"></li>
				<li class="form-fields">
					<font>Street Name</font>
					{{ form.street }}
					{{ form.street.errors }}
				</li>
				<li class="form-fields">
					<font>Cross Street</font>
					{{ form.cross }}
					{{ form.cross.errors }}
				</li>
				<li class="make-line"></li>
				<li class="form-fields">
					<font>Building #<span class="optional-area">(Optional)</span></font>
					{{ form.bldg_num }}
					{{ form.bldg_num.errors }}
				</li>
				<li class="form-fields">
					<font>Apartment #<span class="optional-area">(Optional)</span></font>
					{{ form.apt_num }}
					{{ form.apt_num.errors }}
				</li>
	</ul>
	{{ form.privacy }}
	<input id="s2-sm" type="submit" value="{% trans "SAVE CHANGES" %}" />
	</form>
</div>


{% endblock %}
{% block extra_js %}
<script type="text/javascript">
$(document).ready(function(){
	$.ajaxSetup({
			  data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
	});
	$('#id_compound').change(function(){
		//alert ($(this).children('option:selected').val()); 
		var pk = $(this).children('option:selected').val();
		if (pk){
		$.get('/accounts/compound/'+pk, function (data) {
            //$("#id_location").data('position', data);
            $('#id_area, #id_street_num, #id_street, #id_cross').attr('readonly','readonly');
            $('#id_area').val(data.area);
            $('#id_street_num').val(data.address);
            $('#id_street').val(data.name);
            $('#id_cross').val(data.cross);
        });
		}else{
			$('#id_area, #id_street_num, #id_street, #id_cross').removeAttr('readonly');
			$('#id_area, #id_street_num, #id_street, #id_cross').val('');
		}
	});
});
</script>
{% endblock extra_js %}