{% extends "base.html" %}
{% block title %}Merry Cleaning Services - About Us{% endblock title %}
{% block description %}About Us - Luxury ayi house cleaning in Shanghai, China for expats and local Chinese.  English speaking customer service. Book Online{% endblock description %}
{% block extra_css %}
<link rel="stylesheet" href="/static/css/common.css">
{% endblock extra_css %}
{% block content %}
<div class="page-box">
	<div class="container">
		<div class="common-content">
			 <h1>关于我们</h1>
			 <p>“清洁超人”一家为外籍家庭和高端家庭服务的专业型家政公司。我们秉承公司信誉和员工信用永远第一，追求客户最大程度的满意度。我们的阿姨都经过的实名认证和资料备份，持健康证上岗，保证了阿姨的可靠性。并且阿姨们拥有多年家政服务经验，接受过严格的家政培训，确保了阿姨的专业性。清洁超人家政公司专注于为生活在上海的外籍家庭和高层次家庭，提供安全可靠的专业型和个性化的家政服务。</p>
		</div>
	</div>
</div>
{% endblock content %}
{% block extra_js %}

{% endblock extra_js %}