{% extends "base.html" %}
{% block title %}Merry Cleaning Services - FAQ{% endblock title %}
{% block description %}FAQ - Luxury ayi house cleaning in Shanghai, China for expats and local Chinese.  English speaking customer service. Book Online{% endblock description %}
{% block extra_css %}
<link rel="stylesheet" href="/static/css/common.css">
{% endblock extra_css %}
{% block content %}
<div class="page-box">
	<div class="container">
		<div class="common-content">
			 <h1>常见问题Q&A</h1>
			 <p><strong><font>“清洁超人”的阿姨可靠吗？</font></strong><br />“清洁超人”的阿姨都经过非常严格的实名认证、背景调查、资料备案。面试环节层层筛选，保洁员10%择优录取。我们拥有强大的家政培训队伍，确保家政员的服务技能、服务态度、服务礼仪的高标准。加入清洁超人会员，您还享受专属的家庭管家1对1服务，更有优先安排、更换阿姨等各种特权。</p>
			 <p><strong><font>阿姨会自带保洁工具吗？</font></strong><br />我们的阿姨会携带一个专业的工具包，里面的专业清洁用品包括: 4条不同颜色的分别擦洗不同区域的抹布、2条白口布、1个百洁布、1个铁丝球、1个玻璃刮、1个浴缸刷、3瓶专业洗涤溶剂。如有特殊需要，请在预约时填写特殊说明或与我们的客服说明。</p>
			 <p><strong><font>在打扫期间我一定要在家吗？</font></strong><br />是的，如果您在打扫期间需要外出的话，请在预约时填写特殊说明。</p>
			 <p><strong><font>阿姨在服务时意外受伤了怎么办？</font></strong><br />我们为阿姨购买了意外伤害保险，如果阿姨在服务的过程中意外受伤（如摔倒、划伤等），必须及时通知保险公司（或通知清洁超人的客服经理），并立即报案，清洁超人会配合保险公司做好理赔工作。如果未及时通知致使保险事故的性质、原因、损失程序等难以确定的，保险公司对难以确定的部分，不承担赔偿责任。</p>
			 <p><strong><font>家庭保洁服务怎么计费？</font></strong><br />家庭保洁是35元/小时，每次预定的服务时间为3小时起。清洁超人长期会员套餐另外计算。<br />我们只接受网上付费。系统会根据雇主家庭面积预估一个清洁所需时长，客户也可根据实际需要更改清洁所需时长。如果超出雇主付费时长，请雇主先续费；如果雇主不希望续费，则阿姨可在规定时间内按照雇主需求进行重点区域的打扫。<br />保洁服务满3小时后，超出时间不足15分钟不多收费；15分钟到半小时，按半小时收费；半小时到1小时，按1小时收费。</p>
			 <p><strong><font>预约服务后要更改或取消怎么办？</font></strong><br />如果需要更改或取消服务，请务必提前1小时与我们的客服取得联系，以免让阿姨空跑一趟。</p>
		</div>
	</div>
</div>
{% endblock content %}
{% block extra_js %}

{% endblock extra_js %}