{% extends "base.html" %}
{% block extra_css %}
<link rel="stylesheet" href="/static/css/home.css">
<link rel="stylesheet" href="/static/css/jquery.datetimepicker.css">
{% endblock extra_css %}
{% block content %}
<div class="carousel slide bigeye">
  <ul class="carousel-inner">
    <li class="item active">
      <img src="/static/img/s1.png" alt="image 1">
    </li>
    <li class="item">
      <img src="/static/img/s2.png" alt="image 2">
    </li>
     <li class="item">
      <img src="/static/img/s3.png" alt="image 3">
    </li>
  </ul>
</div>
<div class="book-area">
	<div class="book-container">
		<div class="welcome-area">
			<div class="blk-middle">
				<h1>给您一个整洁的家</h1>
				<p>网上预订或拨打服务电话 <font>021-6380-1553</font></p>
				<a href="#mark-1" class="btn btn-contrast btn-large how-it-works">服务流程</a>
      		</div>
		</div>
		<div class="set-area">
      		<div class="choose-box">
      		<form action="" method="post" id="clean-time-form">
      			{% csrf_token %}
      			<div class="input-group date-div">
	      			<input type="text" class="date-box" readonly="readonly" name="clean_date">
	      			<span class="input-group-addon glyphicon glyphicon-calendar"></span>
      			</div>
      			<div class="input-group time-div">
	      			<input type="text" class="time-box" readonly="readonly" name="clean_time">
	      			<span class="input-group-addon glyphicon glyphicon-time"></span>
      			</div>
      			<div class="input-group time-div">
	      			<input type="text" class="type-box" readonly="readonly" value="One Time">
      			</div>
            	<button id="clean-book" type="submit">现在预订</button>
            </form>
      		</div>
		</div>
	</div>
</div>
<div class="container fea-area">
	<ul>
		<li>
			<img src="/static/img/f1.png" alt="feature" />
			<p>满意的服务保证</p>
			<font class="poptip" data-toggle="tooltip" data-placement="bottom" title="如果您对我们的服务不满意，我们会免费为您重新打扫。">更多</font>
		</li>
		<li>
			<img src="/static/img/f2.png" alt="feature" />
			<p>专业的清洁人员</p>
			<font class="poptip" data-toggle="tooltip" data-placement="bottom" title="每一位阿姨均经过专业系统的培训后才成为清洁超人。">更多</font>
		</li>
		<li>
			<img src="/static/img/f4.png" alt="feature" />
			<p>安全保障，值得信赖</p>
			<font class="poptip" data-toggle="tooltip" data-placement="bottom" title="清洁超人经过严格背景调查以保证您的隐私和财物安全。">更多</font>
			<div class="bpop" id="bpop-ts">
				<span class="b-close">x</span>
				<div class="b-content"></div>
			</div>
		</li>
		<li>
			<img src="/static/img/f5.png" alt="feature" />
			<p>中英文客服</p>
		</li>
	</ul>
</div>
<div class="container info-area" id="mark-1">
	<ul>
		<li>
			<img src="/static/img/i1.png" alt="info" />
			<p>1. 预订</p>
			<font>确定清洁时间</font>
		</li>
		<li>
			<img src="/static/img/i2.png" alt="info" />
			<p>2. 清洁</p>
			<font>超人为您服务</font>
		</li>
		<li>
			<img src="/static/img/i3.png" alt="info" />
			<p>3. 悦享</p>
			<font>悦享清洁体验</font>
		</li>
	</ul>
	<div id="wi">
		<a class="btn btn-contrast btn-large home-wi popdown" id='include'>包含服务</a>
			<div class="bpop" id="bpop-include">
				<span class="b-close">x</span>
				<div class="b-content">
					<h4 class="space-border">清洁服务里包含什么？</h4>
					<table>
						<tr>
							<td valign="top">
								<p class="big-font">卧室</p>
								<ol>
									<li>整理床铺</li>
									<li>折叠衣物</li>
									<li>家具电器除尘</li>
									<li>物品整理归纳</li>
									<li>地面除尘拖洗</li>
									<li>玻璃除尘（内部可触及）</li>
									<li>垃圾清理</li>
								</ol>
							</td>
							<td>
								<img src="/static/img/in1.png">
							</td>
						</tr>
						<tr>
							<td>
								<img src="/static/img/in2.png">
							</td>
							<td valign="top">
								<p class="big-font">浴室</p>
								<ol>
									<li>花洒、浴缸擦洗</li>
									<li>洗手台擦洗</li>
									<li>马桶清洗</li>
									<li>水槽、水龙头擦洗</li>
									<li>镜子擦拭</li>
									<li>物品整理归纳</li>
									<li>地面除尘拖洗</li>
									<li>玻璃除尘（内部可触及）</li>
									<li>垃圾清理</li>
								</ol>
							</td>
						</tr>
						<tr>
							<td valign="top">
								<p class="big-font">厨房</p>
								<ol>
									<li>餐具厨具清洗</li>
									<li>橱柜表面除尘</li>
									<li>台面炉灶清洗</li>
									<li>水槽、水龙头擦洗</li>
									<li>物品归纳整理</li>
									<li>地面除尘拖洗</li>
									<li>玻璃除尘（内部可触及）</li>
									<li>垃圾清理</li>
								</ol>
							</td>
							<td>
								<img src="/static/img/in3.png">
							</td>
						</tr>
						<tr>
							<td>
								<img src="/static/img/in4.png">
							</td>
							<td valign="top">
								<p class="big-font">其他区域</p>
								<ol>
									<li>家具电器除尘</li>
									<li>物品归纳整理</li>
									<li>地面除尘拖洗</li>
									<li>玻璃除尘（内部可触及）</li>
									<li>垃圾清理</li>
								</ol>
							</td>
						</tr>
					</table>
					<center><h4>特别要求</h4></center>
					<ol>
						<li>冰箱内部擦洗</li>
						<li>手洗衣物</li>
						<li>熨烫衣物</li>
					</ol>
					<h4 class="space-border"></h4>
					<center><h4>不包含服务</h4></center>
					<em>出于责任保险，安全约束和其他因素，我们不提供以下服务：</em>
					<ul>
						<li>深入污垢的清洗</li>
						<li>即便能正常触及，但是天花板和天窗不负责清洗</li>
						<li>外玻璃清洗</li>
						<li>清洁宠物粪便</li>
						<li>地毯清洁</li>
						<li>蒸汽清洁</li>
						<li>消灭昆虫等（如蟑螂）</li>
						<li>清洁有危害和发霉的物质</li>
						<li>景观物品</li>
						<li>庭院</li>
						<li>车库</li>
						<li>露台</li>
					</ul>
				</div>
			</div>
	</div>
</div>
{% endblock content %}
{% block extra_js %}
<script src="/static/js/jquery.datetimepicker.js"></script>
<script>
$('.date-box').val('{{ default_date }}');
var timeNow = new Date();
var hourAllow = timeNow.getHours()+5;
var changeDay = timeNow.toDateString().split(' ')[2];
var dayNow = $('.date-box').val().split(' ')[0];

if( hourAllow>19 || hourAllow<8 ){
	var timeAllow = '08:00';
}else{
	var timeAllow = hourAllow.toString()+':00';
};

$('.time-box').datetimepicker({
	datepicker:false,
	format:'H:i',
	minTime: timeAllow,
	maxTime:'20:00',
	step:60
	});
$('.time-box').val(timeAllow);

var logic = function( currentDateTime ){
	  // 'this' is jquery object datetimepicker
	if( currentDateTime.toDateString().split(' ')[2]==dayNow ){
		$('.time-box').val(timeAllow);
		$('.time-box').datetimepicker({
			datepicker:false,
			format:'H:i',
			minTime: timeAllow,
			maxTime:'20:00',
			step:60
			});
	}else{
		$('.time-box').val('08:00');
		$('.time-box').datetimepicker({
			datepicker:false,
			format:'H:i',
			minTime: '08:00',
			maxTime:'20:00',
			step:60
			});
	}
};
if(changeDay == dayNow){
	initialDate = '+1970/01/02';
}else{
	initialDate = '-1969/12/31';
}
$('.date-box').datetimepicker({
	startDate:new Date(),
	onChangeDateTime:logic,
	onShow:logic,
	closeOnDateSelect:true,
	timepicker:false,
	format:'d M Y',
	minDate: initialDate
});

$('.input-group').click(function(){
	$(this).children('input').focus();
});
</script>
<script type="text/javascript">
$('.carousel').carousel({
	interval: 5500,
	pause: false
	});
$('.poptip').tooltip();
$("#clean-book").click(function(){
	if ($('.date-box').val()=="" || $('.time-box').val()==""){
		alert ("please choose the time");
		return false;
	}else{
		return true;
	}
	$("#clean-time-form").submit();
});
</script>
{% endblock extra_js %}