{% extends "base.html" %}
{% block title %}Merry Cleaning Services -  Privacy Policy{% endblock title %}
{% block description %}Privacy Policy - Luxury ayi house cleaning in Shanghai, China for expats and local Chinese.  English speaking customer service. Book Online{% endblock description %}
{% block extra_css %}
<link rel="stylesheet" href="/static/css/common.css">
{% endblock extra_css %}
{% block content %}
<div class="page-box">
	<div class="container">
		<div class="common-content">
		<h1>隐私条例</h1>
		<p>“清洁超人”致力于保护您的隐私，尊重您的个人信息。我们将不会公开或向任何第三方提供用户注册信息或私人信息以及用户在使用我们的服务时储存在这个网站上的信息。然而，在与第三方共同运行网站的过程中可能有必要为这个网站分享或转让用户的个人资料。</p>
		<p>为了符合法律和中华人民共和国中国法规，该网站可能披露或提供用户的个人数据从任何有管辖权的法院，仲裁请求，或任何其他政府实体。</p>
		<p>当您与我们联系时，我们会收集您的个人资料及其他资料。我们收集您自愿提供的信息，例如当您注册访问该网站时的信息，通常包括您的姓名、电话号码、电子邮件地址、家庭地址、您的家庭信息、您的付款细节、您的IP地址和其他您在访问我们网站时的个人信息。</p>
		<p>我们使用cookies来了解和保存您的喜好，收集有关网站的数据和网站的互动，汇总数据，这样我们就可以在您未来访问时提供更好的现场经验和工具。Cookies是一个通过Web浏览器的小文件（通过权限）转移到您的计算机硬盘驱动器，使网站或服务提供者的系统识别您的浏览器捕捉并记住某些信息。</p>
	    </div>
	</div>
</div>
{% endblock content %}
{% block extra_js %}

{% endblock extra_js %}